<h1>Find Events Near You</h1>
<h2>All your blogs:</h2>
{{#each Events}}
    <h3>{{name}}</h3>
    <p>{{location}}</p>
    <p>{{date}}</p>
    <p>{{time}}</p>
    <hr>
{{/each}}
 <script src="./assets/js/event.js"></script>






{{!-- <form action="" id="eventLog">
    <input type="text" id="name" placeholder="title">
    <textarea id="location" cols="30" rows="10"></textarea>
    <textarea id="date" cols="30" rows="10"></textarea>
    <textarea id="time" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form> --}}