<script src="/public/assets/js/login.js"></script>


<div class="wrapper v-center">

  <main class="my-m-0a d-box">

    <div class="picture-wrapper">
      <div class="speech-bubble speech-bubble1 bubble-animate">Welcome to <span class="meets-font"
          style="color:#ef6c00; font-weight:100;">KittyMeet</span> Your Kitty Generation social app!</div>
      <img class="up-and-down my-m-0" src="https://i.imgur.com/h8dURMD.gif">
      <img class="shrink-and-grow my-m-0" src="https://i.imgur.com/XPyLAWZ.gif">
    </div>

    <h1 class="meets-font my-mt-0 orange-text text-darken-3">KittyMeet</h1>

    <div class="content bc1">

      <form class="loginForm" id="login">

        <div class="input-field">
          <input type="text" placeholder="username" id="username" />
          <label class="orange-text text-darken-3" for="username">username</label>
        </div>
        <div class="input-field">
          <input type="password" placeholder="password" id="password" />
          <label class="orange-text text-darken-3" for="pass">password</label>
        </div>
        <p class="red-text"></p>
        <button class="btn waves-effect waves-light amber darken-3">Log in</button>

      </form>

      <h6 class="my-mt-4">Need an Account?
        <a class="my-tc1" href="/signup">Sign Up</a>
      </h6>

    </div>
  </main>
</div>
<script src="./assets/js/login.js"></script>
{{!-- <h2>Login</h2>
<form action="" id="login">
    <input type="text" placeholder="username" id="loginUsername">
    <input type="password" placeholder="password" id="loginPassword" >
    <button>Login!</button>
</form>
<h2>Signup</h2>
<form action="" id="signup">
    <input type="text" placeholder="username" id="signupUsername">
    <input type="password" placeholder="password" id="signupPassword" >
    <button>Signup!</button>
</form>
<script src="/js/login.js"></script>


{{!-- <h1>Events page</h1>
{{#each events}}
    <h3>{{name}}</h3>
    <p>{{time}}</p>
    <p>{{date}}</p>
    <p>{{location}}</p>
    <hr>
{{/each}} --}}