{{!-- sign up  --}}

{{!-- username and password  --}}



<div class="wrapper v-center">

  <main class="my-m-0a d-box">

    <div class="picture-wrapper">
      <div class="speech-bubble speech-bubble1 bubble-animate">Welcome to <span class="meets-font"
          style="color:#ef6c00; font-weight:100;">KittyMeet</span> Your Kitty Generation social app!</div>
      <img class="up-and-down my-m-0" src="https://i.imgur.com/h8dURMD.gif">
      <img class="shrink-and-grow my-m-0" src="https://i.imgur.com/XPyLAWZ.gif">
    </div>

    <h1 class="meets-font my-mt-0 orange-text text-darken-3">KittyMeet</h1>

    <div class="content bc1">

      <form class="signUpForm" id="signup">

        <div class="input-field">
          <input type="text" name="username" id="signupUsername" />
          <label class="orange-text text-darken-3" for="username">username</label>
        </div>
        <div class="input-field">
          <input type="password" name="pass" id="signupPassword" />
          <label class="orange-text text-darken-3" for="pass">password</label>
        </div>
        <p class="red-text"></p>
        <button class="btn waves-effect waves-light amber darken-3">Signup</button>

      </form>
    </div>
  </main>
</div>
 <script src="./assets/js/signup.js"></script>